<!-- Contenido del pie de página -->
<footer id="my_pie" class="bg-light mt-5">
  <div class="container">
    <div class="card">
      <div class="card-header text-center">
        &copy;  Orm Projects
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0 text-center">
          <p>Te ayudamos en la gestión de de productos relacionados</p>
          <footer class="blockquote-footer">Para facilitar tu trabajo <cite title="Source Title">De Logistica</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</footer>
